<mat-card class="mainCard" *ngIf="VerifyEstudanteObj() && GetMediaSemestre() < 7 && GetMediaSemestre() >= 1.7">
    <mat-card-header class="headerCard">
        <div mat-card-avatar class="div-tabela-imagem">
            <img src={{GetIconeDificuldade()}} />
        </div>
        <div>
            <mat-card-title>Tabela Média-Prova Final</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="bodyCard">
        <p>
            A tabela abaixo exibe a relação entre a média do semestre e a pontuação necessária 
            que o estudante deve alcançar na avaliação final (Prova final) para aprovação em uma disciplina.
        </p>
        <div class="container-tabela">
        <table class="table" >
            <thead>
            <tr style="text-align: center;">
                <th scope="col">Média Semestre</th>
                <th scope="col">Pontuação necessária</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let elemento of GetNotasTabela(); let i = index">
                    <td>{{elemento.Media}}</td>
                    <td>{{elemento.PontosParaFinal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </mat-card-content>
</mat-card> 