<mat-card class="mainCard" *ngIf="VerifyEstudanteObj()">
    <mat-card-header class="headerCard">
        <div mat-card-avatar class="numberCard" [style.color]="GetCorStatusEstudante()" [style.border-color]="GetCorStatusEstudante()">
            <span><strong>{{GetMediaSemestre()}}</strong></span>
        </div>
        <div>
            <mat-card-title>Média do Semestre</mat-card-title>
            <span [ngSwitch]="GetStatusEstudante()">
                <strong *ngSwitchCase="0" [style.color]="GetCorStatusEstudante()">Você foi reprovado</strong>
                <strong *ngSwitchCase="1" [style.color]="GetCorStatusEstudante()">Você foi Aprovado</strong>
                <strong *ngSwitchCase="2" [style.color]="GetCorStatusEstudante()">Você irá para a FINAL</strong>
            </span>
        </div>
    </mat-card-header>
    <mat-card-content class="bodyCard">
        <p>
            A média do semestre é calculada considerando pesos para cada avaliação 
            (veja na tabela abaixo), é feito o somatório da notas multiplicando os
            pesos, e dividindo o resultado total por 100.
        </p>
        <section class="container-tabela mat-elevation-z8" tabindex="0">
            <table mat-table class="tabela-base">

                <!-- Position Column -->
                <ng-container matColumnDef="avaliacao">
                    <th mat-header-cell class="header-tabela">Avaliação</th>
                    <td mat-cell> AV1 </td>
                    <td mat-cell> AV2 </td>
                    <td mat-cell> AV3 </td>
                    <td mat-cell> Edag </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="nota">
                    <th mat-header-cell class="header-tabela">Nota</th>
                    <td mat-cell> {{GetAv1()}} </td>
                    <td mat-cell> {{GetAv2()}} </td>
                    <td mat-cell> {{GetAv3()}} </td>
                    <td mat-cell> {{GetAvEdag()}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Peso">
                    <th mat-header-cell class="header-tabela">Peso(%)</th>
                    <td mat-cell> 25% </td>
                    <td mat-cell> 25% </td>
                    <td mat-cell> 30% </td>
                    <td mat-cell> 20% </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['avaliacao', 'nota', 'Peso']; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['avaliacao', 'nota', 'Peso'];"></tr>
            </table>
        </section>
        <!--
        <table class="table">
            <thead>
            <tr style="text-align: center;">
                <th scope="col">Avaliação</th>
                <th scope="col">Nota</th>
                <th scope="col">Peso (%)</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                <td>AV1</td>
                <td>{{GetAv1()}}</td>
                <td>25%</td>
                </tr>
                <tr class="text-center">
                <td>AV2</td>
                <td>{{GetAv2()}}</td>
                <td>25%</td>
                </tr>
                <tr class="text-center">
                <td>AV3</td>
                <td>{{GetAv3()}}</td>
                <td>30%</td>
                </tr>
                <tr class="text-center">
                <td>EDAG</td>
                <td>{{GetAvEdag()}}</td>
                <td>20%</td>
                </tr>
            </tbody>
        </table>-->
    </mat-card-content>
</mat-card> 