/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";/*Importação BOOTSTRAP (npm install bootstrap)*/

*{
  padding: 0;
  margin: 0;
}
:root {
  --green: #00B050;
  --blue:#407BFF;
  --grey: rgb(199, 199, 199);
  --ligthgrey: rgb(250, 250, 250);
  --back: rgb(0,0,0);
  --white: rgb(255, 255, 255);
}

html, body { 
  height: 100%; 
  background-color: var(--ligthgrey);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
